{% extends "layout/base.html" %}

{% block content %}
<section class="hero is-primary">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        Publish your Article
      </h1>
      <p class="subtitle">The article will be submitted for review and will be published within a week.</p>
    </div>
  </div>
</section>
<section class="section">
  <div class="container">
    <div class="columns">
      <div class="column">     
      	<form method="POST" action="/blog" >
        {{ csrf_field }}
        <div class="field">
            <div class="control">
                <input type="text" name="title" class="input" placeholder="Title">    
            </div>
        </div>
        <div class="field">
            <div class="control">
                <textarea class="textarea" placeholder="Text" name="text"></textarea>  
            </div>
        </div>
	   <div class="field">
	     <button type="submit" class="button is-primary">Submit</button>
	   </div>
    	</form>

      </div>
      <div class="column is-4">
        {% include "layout/sidebar.html" %}
      </div>
    </div>
  </div>
</section>
{% endblock %}