{% extends "layout/base.html" %}

{% block content %}
<section class="hero is-primary">
  <div class="hero-body">
    <div class="container">
      <div class="columns">
        <div class="column">
          <h1 class="title">
            <a href="/{{post.author.username}}/{{post.slug}}">{{post.title}}</a>
          </h1>
          <p class="subtitle">
            by <a href="/{{post.author.username}}">{{post.author.username}}</a>
          </p>
        </div>
        <div class="column is-narrow is-2">
          {% if auth() and auth().id == post.author_id %}
          <a class="button is-primary is-medium is-inverted" href="/blog/{{post.id}}/edit">
              Edit
          </a>
          {% else %}
          <a class="button is-primary is-medium is-inverted" href="/blog/new">
              Write an article
          </a>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</section>
<section class="section">
  <div class="container">
    <div class="columns">
      <div class="column">
        <div class="content">
          {{post.text|safe}}
        </div>
        <p>Share this job:</p>
        <div class="sharethis-inline-share-buttons"></div>
      </div>
      <div class="column is-4">
        {% include "layout/sidebar.html" %}
      </div>
    </div>
  </div>
</section>
<script type="application/ld+json">
{{post.json_ld|safe}}
</script>
{% endblock %}