[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
certifi = "==2018.4.16"
chardet = "==3.0.4"
django = "==2.0.7"
django-bulma = "==0.5.1"
django-ckeditor = "==5.6.1"
et-xmlfile = "==1.0.1"
idna = "==2.7"
jdcal = "==1.4"
openpyxl = "==2.5.4"
pillow = "==6.2.0"
pytz = "==2018.5"
requests = "==2.19.1"
"urllib3" = "==1.23"
social-auth-app-django = "*"
"psycopg2-binary" = "*"

[dev-packages]
pylint = "*"

[requires]
python_version = "3.7"
