{% extends "base.html" %}
{% load bulma_tags %}
{% block title %}Login{% endblock%}
{% block content %}
<section class="hero">
  <div class="hero-body">
    <div class="container has-text-centered">
      <div class="columns is-centered">
        <div class="column is-half">
          {% if validlink %}
          <h1 class="title">Change password</h1>
          <form method="post">
            {% csrf_token %}
            {{ form|bulma}}
            <br>
            <div class="field">
              <p class="control">
                <button class="button is-primary is-medium is-fullwidth" type="submit">
                Submit
                </button>
              </p>
            </div>
          </form>
          {% else %}
          <p>
            The password reset link was invalid, possibly because it has already been used.
            Please request a new password reset.
          </p>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock %}