{% extends 'base.html' %} 

{% block content %}
<section class="hero">
        <div class="hero-body">
          <div class="container has-text-centered">
            <div class="columns is-centered">
              <div class="column is-half">
                    <h1 class="title">Dashboard</h1>
                    <h2 class="subtitle">
                        This is a dashboard. Hello {{ auth().name }}
                    </h2>
              </div>
            </div>
          </div>
        </div>
      </section>
{% endblock %}
