{% extends "layout/base.html" %}

{% block content %}
<section class="hero is-primary">
  <div class="hero-body">
    <div class="container">
      <div class="columns">
        <div class="column">
          <h1 class="title">
            500
          </h1>
          <p class="subtitle">
            Oops! Server Error.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="section">
  <div class="container">
    <div class="columns">
      <div class="column">
        <div class="content">
          <a class="button is-link is-medium is-fullwidth" href="https://m.me/csclub.co">
            Send us message if you think something went wrong
          </a>
        </div>
      </div>
      <div class="column is-4">
        {% include "layout/sidebar.html" %}
      </div>
    </div>
  </div>
</section>
{% endblock %}