{% extends "base.html" %}
{% block title %}Jobs{% endblock %}
{% block content %}
<section class="hero is-primary">
  <div class="hero-body">
    <div class="container">
      <div class="columns">
        <div class="column">
          <h1 class="title">@VaibhavMule</h1>
          <p class="subtitle">Creator of <a href="/">CSClub</a></p>
        </div>
        <div class="column is-narrow is-2">
          <a class="button is-primary is-medium is-inverted" href="{% url 'post_new' %}">
              Write
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="section">
  <div class="container">
    <div class="columns">
      <div class="column">
        {% for post in posts %}
        <div class="card">
          <div class="card-content">  
            <div class="media">
              <div class="media-content">
                <p class="title is-4">
                  {% if post.published_date is null %}
                    <a href="{% url 'post_edit' post.pk %}">
                      {{post.title}} <span class="tag is-primary">Draft</span>
                    </a>
                  {% else %}
                    <a href="{% url 'post_detail' post.author.username post.slug %}">{{post.title}}</a>
                  {% endif %}
                </p>
                <p class="subtitle is-6">by <a href="/{{post.author.username}}">{{post.author.username}}</a></p>
              </div>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
      <div class="column is-4">
        <div class="box">
          <p class="title is-5">Subscribe to our newsletter</p>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}