{% extends "base.html" %}
{% block title %}{{job.title}} at {{job.employer.title}}{% endblock %}
{% block content %}
<section class="hero is-light">
  <div class="hero-body">
    <div class="container">
      <h2 class="title is-4">{{job.title}}
                              {% for employment_type in job.employment_type.all %}
              <span class="tag is-link">{{employment_type.title}}</span>
              {% endfor %}</h2>
    </div>
  </div>
</section>
<section class="section">
  <div class="container">
  <div class="columns">
    <div class="column">
      <div class="box">
                      <figure class="image is-64x64 ">
 <img src="{{ job.employer.logo.url }}" alt="{{ job.title }} at {{job.location}}" >
</figure>
{{job.employer.title}}
<a href="{{job.employer.website}}">Website</a>
    <p><strong>Location:</strong>
    {{job.location}}</p>
  <p>
    <strong>Salary:</strong> INR {{job.salary}}
  </p>
  <p>
    <strong>Description:</strong> {{job.description}}
  </p>
<!--   <p><strong>Responsibilities:</strong></p>
  <ul>
    <li>Design and write specifications for tools for in-house customers</li>
    <li>Build tools according to specifications</li>
  </ul> -->
<!--   <p><strong>Educational requirements:</strong></p>
  <ul>
    <li>Bachelor's Degree in Computer Science, Information Systems or related fields of study.</li>
  </ul> -->
<!--   <p><strong>Experience requirements:</strong></p>
  <ul>
   <li>Minumum 3 years experience as a software engineer</li>
  </ul> -->
<!--   <p><strong>Desired Skills:</strong></p>
  <ul>
    <li>Web application development using Java/J2EE</li>
    <li>Web application development using Python or familiarity with dynamic programming languages</li>
  </ul> -->
<!--   <p><strong>Qualifications:</strong></p>
  <ul>
    <li>Ability to work in a team environment with members of varying skill levels.</li>
    <li>Highly motivated.</li>
    <li>Learns quickly.</li>
  </ul> -->
 <!--  <p><strong>Benefits:</strong></p>
    <ul><li>ABC Corp provides top-tier employee compensation benefits and a relaxed, team-oriented work environment, including: Medical, Life, Dental</li>
    </ul>
      <p><strong>Incentives:</strong></p>
        <ul><li>Performance-based annual bonus plan, project-completion bonuses</li>
      </ul> -->
  <p>If interested in this position, please email us your resume, along with salary requirements and a cover letter to Jobs@abc.123.</p>
   <p>Expiration date: {{job.expiry_date|date:"d-m-Y"}}</p>
  <p>Date Posted: {{job.date_posted|date:"d-m-Y"}}</p>
</div>
    </div>
      <div class="column is-4">
    <div class="box">
      <p class="title is-5">Subscribe to our newsletter</p>
    </div>
  </div>
  </div>
  </div>
</section>
{% endblock %}