{% extends "base.html" %}
{% block title %}Jobs{% endblock %}
{% block content %}
<section class="hero is-primary">
  <div class="hero-body">
    <div class="container">
      <h2 class="title is-2">CS Trainee Vacancies and CS Jobs</h2>
    </div>
  </div>
</section>
  <section class="section">
    <div class="container">

      <div class="columns">

  <div class="column">
      {% for job in jobs %}
    <a href="{% url 'job_detail' job.id %}">
      <div class="box">
        <div class="columns">
          <div class="column is-2 is-hidden-mobile">
              <figure class="image is-48x48">
 <img src="{{ job.employer.logo.url }}" alt="{{ job.title }} at {{job.location}}" >
</figure>
              
          </div>
          <div class="column is-8">
            <p><strong>{{job.title}}</strong>
                            {% for employment_type in job.employment_type.all %}
              <span class="tag">{{employment_type.title}}</span>
              {% endfor %}
            <br/>
            <div class="level is-mobile">
              <div class="level-left">
              <div class="level-item">
                <span class="icon is-small">
                <i class="fas fa-briefcase"></i>
                </span>
                  &nbsp; {{job.employer.title}}
              </div>
              <div class="level-item">
                              <span class="icon is-small">
                <i class="fas fa-map-marker"></i>
              
              </span>
                   &nbsp;{{job.location}}
              </div>
            </div>

            </div>

            </p>
          </div>
        </div>
      </div>
    </a><br>
        {% endfor %}
  </div>

  <div class="column is-4">
    <div class="box">
      <p class="title is-5">Subscribe to our newsletter</p>
    </div>
  </div>
</div>


    
      </div>
    </div>
  </div>
</div>
        
      </a>

</div>
    </div>
  </section>

  


{% endblock %}