{% extends "base.html" %}
{% load bulma_tags %}
{% block title %}Jobs{% endblock %}
{% block content %}
<section class="hero is-primary">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">Publish your Article</h1>
      <!-- <p class="subtitle">by <a href="/{{post.author.username}}"></a></p> -->
    </div>
  </div>
</section>
<section class="section">
  <div class="container">
    <div class="columns">
      <div class="column">
      	<form method="POST" class="post-form">
      	{% csrf_token %}
      	{{ form.media }}
       	{{ form|bulma }}
	   <div class="field">
	     <button type="submit" class="button is-primary">Submit</button>
	   </div>
    	</form>

      </div>
      <div class="column is-4">
        <div class="box">
          <p class="title is-5">Subscribe to our newsletter</p>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}