{% extends "layout/base.html" %}

{% block content %}

<section class="hero is-primary">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        Create a Job Post
      </h1>
      <p class="subtitle">Fill all the required fields</p>
    </div>
  </div>
</section>
<section class="section">
  <div class="container">
    <div class="columns">
      <div class="column">
        <form action="/jobs" method="POST">
            {{ csrf_field }}
            <div class="field">
                <div class="control">
                    <input type="text" name="title" class="input" placeholder="Job Title">    
                </div>
            </div>
            <div class="field">
                <div class="control">
                  <textarea class="textarea" placeholder="Job Description"></textarea>  
                </div>
            </div>
            <div class="field">
                <div class="control">
                    <input type="text" name="location" class="input" placeholder="Location">    
                </div>
            </div>
            <div class="field">
                <div class="control">
                    <input type="text" name="salary" class="input" placeholder="Salary/Stipend per month">    
                </div>
            </div>
            <div class="field">
                <div class="control">
                    <input type="text" name="apply_link" class="input" placeholder="Website Link to Apply (optional)">    
                </div>
            </div>
            <div class="field">
                <div class="control">
                    <input type="text" name="apply_email" class="input" placeholder="Email">    
                </div>
            </div>
            <div class="field">
              <div class="control">
                  <input type="text" name="employer_title" class="input" placeholder="Company Name">    
              </div>
          </div>
          <div class="field">
            <div class="control">
                <input type="text" name="employer_website" class="input" placeholder="Company Website">    
            </div>
          </div>
          <div class="file">
            <label class="file-label">
              <input class="file-input" type="file" name="resume">
              <span class="file-cta">
                <span class="file-icon">
                  <i class="fas fa-upload"></i>
                </span>
                <span class="file-label">
                  Choose a file…
                </span>
              </span>
            </label>
          </div>
          <br>
            <div class="field">
              <div class="control">
                <button class="button is-primary is-medium is-fullwidth" type="submit">
                Create A Job
                </button>
              </div>
            </div>
          </form>

      </div>
      <div class="column is-4">
        {% include "layout/sidebar.html" %}
      </div>
    </div>
  </div>
</section>


{% endblock %}