{% extends "layout/base.html" %}

{% block content %}
<section class="hero is-primary">
  <div class="hero-body">
    <div class="container">
      <div class="columns">
        <div class="column">
          <h1 class="title">
            <a href="/contact">Contact CSClub</a>
          </h1>
          <p class="subtitle">
            Give us feedback or contact us for anything else.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="section">
  <div class="container">
    <div class="columns">
      <div class="column">
        <div class="content">
          <p>Click on following links to know more.</p>
          <ul>
            <li><a href="/about">About</a></li>
            <li><a href="/privacy">Privacy</a></li>
          </ul>
            <a class="button is-link is-medium is-fullwidth" href="https://m.me/csclub.co">
              Send us message
            </a>
        </div>
      </div>
      <div class="column is-4">
        {% include "layout/sidebar.html" %}
      </div>
    </div>
  </div>
</section>
{% endblock %}